html { height: 100% }
body { height: 100%; margin: 0; padding: 0;}
.cityism-transvisor-loscontrol {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid red;
}
.cityism-transvisor-loscontrol input[type=number] {
  width: 30px;
}
.cityism-transvisor-routes {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.cityism-transvisor-routes li {
  padding: 5px;
  margin: 0px;
  border-bottom: 1px dashed #ccc;
}
.cityism-transvisor-routes input, 
.cityism-transvisor-routes button {
  margin-left: 10px;
  margin-right: 10px;
}
.cityism-transvisor-routes span {
  cursor: pointer;  
}
.cityism-transvisor-route .cityism-transvisor-hover {
  display:none;
}
.cityism-transvisor-route:hover > .cityism-transvisor-hover {
  display:inline;
}

.cityism-transvisor-routeinfo {
  
}